<header>
    <div class="card text-center">
        <div class="card-header">
        </div>
        <div class="card-body">
            <h2 class="card-title">Welcome to our <i>{{shopName}}</i>!</h2>
            <p class="card-text">You can service the shop and find out more about us.</p>

            <nav>
                <div><a routerLink="/">Home</a></div>
                <div><a routerLink="/articles">Articles</a></div>
                <div><a routerLink="/add">Add an article</a></div>
                <div><a routerLink="/us">About us</a></div>
            </nav>
        
        </div>
    </div>
</header>